 .headers
{
    font-family: Papyrus;
    font-weight: bold;

    text-align: center;
}

.margrin
{
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.background
{
    background: rgb(117, 117, 117); /* Sonic Silver */
    background-image: url('images/swirls.png'); /* Found this image at http://keywordsuggest.org/gallery/854276.html */
    background-repeat: no-repeat;
    background-size: cover;
}

.pics
{
    margin-left: 200px;
}

.back
{
    /* This is for the header on the main page */
    height: 40px;

    color: rgb(224, 149, 4);
    background-color: rgb(38, 38, 38); /* Dark Grey */
}

.back2
{
    margin-right: 100px;
    margin-left: 100px;

    color: rgb(224, 149, 4);
    background-color: rgb(38, 38, 38); /* Dark Grey */
}

.size{
  font-size: 16px;
}

.back3{
  background-color: white;
  width: 900px;
}
.active
{
    background-color: rgb(184, 134, 11);
}

#wrap
{
    min-height: 100%;
}

#main
{
    overflow: auto;

    padding-bottom: 160px; /* this needs to be bigger than footer height*/
}

.footer
{
    position: relative;

    clear: both;

    height: 50px;
    margin-top: 150px;
    padding-top: 20px;
    padding-bottom: 20px;

    text-align: center;

    color: white;
    background-color: rgb(79, 79, 79);
}

.pics2
{
    margin-left: 300px;
}
img
{
    width: 700px;
    height: 400px;
}

table,
th,
td
{
    text-align: center;

    border: 1px solid black;
    background-color: rgb(176, 196, 222); /* LightSteel Blue */
}
th
{
    width: 200px;
}
.highlight
{
    background-color: yellow;
}

.bold
{
    font-weight: bold;
}

.i
{
    font-style: italic;
}

.p
{
    font-size: 100%;

    margin-right: 200px;
    margin-left: 200px;

    border-style: groove;
    background-color: rgb(224, 224, 224);
}
.ul1
{
    margin-right: 50px;
    margin-left: 50px;
}

ul
{
    overflow: hidden;

    margin: 0;
    padding: 0;

    list-style-type: none;

    background-color: rgb(132, 132, 130); /* Old Silver */
}

li
{
    float: left;
}

li a
{
    display: block;

    padding: 14px 16px;

    text-align: center;
    text-decoration: none;

    color: white;
}

li a:hover
{
    background-color: rgb(153, 101, 21); /* Golden Brown */
}
